/* Сброс стандартных отступов и полей у body */
body {
  margin: 0;
  padding: 0;
}

/* Контейнер для ромба */
.diamond-container {
  position: absolute; /* Абсолютное позиционирование для позиционирования относительно окна браузера */
  top: 50%; /* Размещаем в середине по вертикали */
  left: 50%; /* Размещаем в середине по горизонтали */
  animation: rotate 3s infinite linear, move 6s infinite linear; /* Анимация вращения и перемещения */
}

/* Стили для треугольника */
.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent; /* Левая граница треугольника (невидимая) */
  border-right: 50px solid transparent; /* Правая граница треугольника (невидимая) */
  border-bottom: 87px solid #3498db; /* Нижняя граница треугольника (видимая) */
}

/* Стили для второго треугольника (часть ромба) */
.triangle1 {
  position: absolute; /* Абсолютное позиционирование для позиционирования относительно родительского элемента */
  top: 50%; /* Размещаем в середине по вертикали */
  left: 50%; /* Размещаем в середине по горизонтали */
  transform: translate(-86%, -73%) rotate(60deg); /* Смещение и вращение для создания ромба */
  width: 0;
  height: 0;
  border-left: 50px solid transparent; /* Левая граница треугольника (невидимая) */
  border-right: 50px solid transparent; /* Правая граница треугольника (невидимая) */
  border-bottom: 87px solid #3498db; /* Нижняя граница треугольника (видимая) */
}

/* Ключевые кадры для анимации вращения */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Ключевые кадры для анимации перемещения */
@keyframes move {
  0%, 100% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 90%;
  }
  50% {
    top: 90%;
    left: 90%;
  }
  75% {
    top: 90%;
    left: 0;
  }
}
